* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(218, 214, 218);
    color: blanchedalmond;
}
button {
color: blanchedalmond;
background-color: rgb(143, 129, 155);
}

button:hover {
    background-color: rgb(81, 42, 126);
    color: #fff;
}

ul {
    list-style: none;
    text-align: start;
    padding-left: 75px;
}

.wrapper {
    padding-top: 200px; 
    text-align: center;
}

.container {
    background-color: rgb(69, 154, 211);
    margin: auto;
    width: 400px;
    border: black solid 1px;
    
    box-shadow: black;
} 

.header {
    padding-top: 5px;
    padding-bottom: 10px;
}

.container_buttons{
    padding-bottom: 10px;
}
